table {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-collapse: collapse;
}

th {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

tr:last-child {
    border-bottom: 1px solid gray;
}

tr td:nth-child(1) {
    border-right: 1px solid gray;
}

tr td:first-child {
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: lightsteelblue;
}

td {
    padding: 5px;
    text-align: center;
}